@font-face{
    font-family: Comfortaa;
    src: url(fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}
body {
    background: #2C81A5;
    color: black;
    font-family: Comfortaa;
    font-weight: 700;
    margin: 1;
}
.container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}